# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake
CMakeCache.txt
CMakeFiles
cmake_install.cmake

# Visual Studio
.vs
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
Debug
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters
stacktrace-from-exception.dir
stacktrace-from-exception.sln
stacktrace-from-exception.vcxproj
stacktrace-from-exception.vcxproj.filters
x64

# Make
Makefile
stacktrace-from-exception
